#block-gulp-theme-content {
  border: aquamarine;
  border-style: double;
  padding: 5px;
  background: #e2d717; }
  #block-gulp-theme-content > div > div > div.views-row > article > div:nth-child(6) > div.field.field--name-body.field--type-text-with-summary.field--label-hidden.field__item.quickedit-field > p {
    color: black; }
  #block-gulp-theme-content > div > div > div.views-row > article > div:nth-child(6) > div.field.field--name-field-image.field--type-image.field--label-hidden.field__item.quickedit-field > a > img {
    border: #73c7d4;
    border-style: double;
    padding: 5px;
    background: #e2d717; }
  #block-gulp-theme-content > div > div > div.views-row > article > div:nth-child(6) > ul > li.node-readmore > a, #block-gulp-theme-content > div > div > div.views-row > article > div:nth-child(6) > ul > li.comment-add > a {
    color: #1e81dc;
    background: black; }
  #block-gulp-theme-content > div > div > div.views-row > article > div:nth-child(6) > ul > li.node-readmore > a:hover, #block-gulp-theme-content > div > div > div.views-row > article > div:nth-child(6) > ul > li.comment-add > a:hover {
    color: #dcb61e;
    background: #4c5e77; }

#data {
  float: left;
  margin-left: 10px; }
  #data th {
    text-align: center;
    font-weight: bold; }
  #data td, #data th {
    padding: 2px; }
